.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.lotto-numbers {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lotto-ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000; /* 검정색으로 변경 */
    background-color: #007BFF;
}

/* 각각의 로또 번호 공에 서로 다른 배경색 적용 */
.ball-1 { background-color: #FF5733; }
.ball-2 { background-color: #33FF57; }
.ball-3 { background-color: #5733FF; }
.ball-4 { background-color: #FF33A6; }
.ball-5 { background-color: #33FFFF; }
.ball-6 { background-color: #FFD700; }
